/* Main.css - Scouting apps main formatting and layout */
/*
	Base Colors
	 - Wave Blue: #15fffd
	 - Wave Green: #00ff51

	Dark Colors
	 - Wave Blue: #006664
	 - Wave Green: #006620

	Medium Colors
	 - Wave Blue: #008885
	 - Wave Green: #008842
	 - Wave Green (Lighter): #00e649
*/
/* Set HTML */
html{box-sizing:border-box;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;overflow-x:hidden;font-size:15px;}
*,*:before,*:after{box-sizing:inherit}
/* Set body size */
body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #888;
	overflow: hidden;
}
#wrapper {
	position: relative;
	min-height: 100%;
	width: 100%;
}
#wrapper * {transition: all 0.3s ease;}
/* Begin CSS Reset */
/* Start with nav CSS (HIDDEN) */
nav {
	position: absolute;
	top: 0;
	left: -50%;
	min-height: 100%;
	max-height: 100%;
	width: 35%;
	z-index: 1000;
	background-color: #aaa;
	border-right: 2px solid #000;
}
nav a {
	display: block;
	float: left;
	width: 100%;
	text-align: center;
	font-size: 2em;
	cursor: pointer;
	background-color: #888;
	border-bottom: 1px solid #000;
	padding: 5px 0;
}
nav a:hover {background-color: #fff}
nav a:active {background-color: #ccc}
#settingsBTN {
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
#navBTN {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #888;
	padding: 7px;
	height: 41px;
	width: 45px;
	z-index: 10;
/*	border-right: 2px solid #00e649;*/
}
#navBTN:hover, #closeBTN:hover {background-color: #ccc;}
#navBTN:active, #closeBTN:active {background-color: #aaa;}
#closeBTN {
	cursor: pointer;
	background-color: #888;
	float: right;
	clear: left;
	display: block;
	font-size: 1.2em;
	width: 100%;
	padding-bottom: 5px;
	text-align: center;
	border-bottom: 1px solid #000;
}
/* Content CSS */
.container {min-height: 100%;width: 100%;padding:16px;position: relative;}
#bar1, #bar2, #bar3, #bar4, #bar5 {width: 30px; height: 5px;background-color: #fff;}
#bar2 {margin-top:5px; margin-bottom: 5px;}
#home, #auto, #tele {position: absolute;width: 100%; height: 100%;top: 0; left: 0;background-color: #888;}
#home input[type=text], #home input[type=number], #home label, #home b, #auto input[type=text], #auto input[type=number], #auto label, #auto b, #tele input[type=text], #tele input[type=number], #tele label, #tele b {font-size: 1.5em;}
#home > *, #auto > *, #tele > *, #settings > * {position: relative;margin: 0;}
#home > h3, #auto > h3, #tele > h3, #settings > h3 {
	background-color: #00e6e2;
	height: 43px;
	text-align: center;
	padding-top: 10px;
	border-bottom: 2px solid #00e649;
}
#home > div, #auto > div, #tele > div, #settings > div {padding: 10px;}
#auto, #tele {opacity: 0;}
#settings {
	position: fixed;
	z-index: 100000;
	margin-top: 200%;
	top: 0;
	left: 0;
	min-height: 100%;
	width: 100%;
	background-color: #888;
}
#home > div, #auto > div, #tele > div {
	margin: 10px 10px 0 10px;
}
#main {transition: all 0.3s ease}
#closeSettings {
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 5px;
	font-size: 1.1em;
	background-color: #888;
	color: #000;
	padding: 0 5px;
	border-radius: 5px;
	z-index: 1000;
}
#closeSettings:hover {background-color: #ccc;}
#cover {
	position: absolute;
	width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	z-index: -10;
}
caption {margin-bottom: 10px;}
table {margin-top: 10px;vertical-align: text-top;margin-left: auto; margin-right: auto;}
table, td, th {
	border: 2px solid #006620;
	border-collapse: collapse;
}
td, th {
	padding: 5px;
	font-weight: bold;
	color: #fff;
}
tr:nth-child(odd) {background-color: #007731;}
tr:nth-child(even) {background-color: #007775;}
td.none {background-color: #004400}
input[type=number].noNum::-webkit-inner-spin-button, input[type=number].noNum::-webkit-outer-spin-button {display: none;}
input[type=number].noNum {font-size: 1.5em !important;width: 100px;}
input[type=number] {width: 65px;}
.score > span, .score > input {font-size: 2.85em;margin-bottom: 10px; padding: 0;}
.countBTN {display: inline-block;border-radius: 6px;text-align: center;padding: 0 15px;cursor: pointer; background-color: #008842; color: #fff;}
.countBTN:hover, .countBTN:focus {background-color: #006620;}
/* Custom Input Types CSS */
.switch {
	width: 35px;
	height: 20px;
	border-radius: 25px;
	background-color: #bbb;
	position: relative;
	display: inline-block;
	transition: all 0.3s ease;
	text-align: center;
	vertical-align: text-bottom;
}
.slider {
	background-color: #fff;
	border-radius: 50%;
	width: 12px; height: 12px;
	position: absolute;
	bottom: 4px; left: 4px;
	transition: all 0.3s ease;
}
/* Button Classes */
.flat-btn {
	background-color: darkgreen;
	color: #fff;
	display: block;
	text-decoration: none;
	border-radius: 4px;
	padding: 3px;
	margin: 2px 0;
	cursor: pointer;
}
.flat-btn:hover, .flat-btn:focus {background-color: #003300;}
.fixed {
	position: absolute;
	bottom: 10px;
	width: 30%;
	height: auto;
	cursor: pointer;
	border-radius: 8px;
	padding: 5px;
	text-align: center;
	background-color: #008842;
	color: #fff;
	font-size: 3em;
}
.fixed:hover {
	background-color: #003300;
}
.center-btn {left: 35%; right: 35%;}
.left-btn {left: 2.5%;}
.right-btn {right: 2.5%;}
#toTeleMatch, #toAutoMatch, #finishMatch, #toHomer {display: none;}